<div class="navbar-nav">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="fa fa-search text-primary" aria-hidden="true"></i>
            </span>
        </div>
        <input type="search" class="form-control " aria-label="Search" 
        #searchInput (keyup.enter)="searchBooks(searchInput.value)"
        placeholder="Search books"/>
        <!-- <button type="submit" (click)="searchBooks(searchInput.value)" class="btn btn-primary">Search</button> -->
    </div>
</div>
