<div class="row">
    <div class="col-lg-3">
        <app-category></app-category>
    </div>
    <div class="col-lg-9">
        <div class="row">
            <div class="col-12 col-md-4">
                <img class="img-fluid img-thumbnail rounded" [src]="book.imageUrl" width="250" height="300" alt="book" />
            </div>
            <div class="col-12 col-md-8">
                <h3>{{book.name}}</h3>
                <hr/>
                <p>{{book.description}}</p>
                <hr/>
                <h4>Price: <strong>{{book.unitPrice | currency: 'USD'}}</strong></h4>
                <hr/>
                <h6>Qty. Available: {{book.unitsInStock}}</h6>
                <hr/>
                <a routerLink="/books" class="btn btn-success">
                    <i class="fa fa-arrow-left"></i> Back
                </a>
                <button (click)="addToCart()" class="btn btn-primary ml-1">
                    <i class="fa fa-cart-arrow-down"></i> Add to cart
                </button>
            </div>
        </div>
    </div>
</div>